@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*shared-styles*/

.merriweather{
    font-family: 'Merriweather';
}

.inter{
    font-family: 'Inter';
}

/*body-styles*/

body{
    margin-top: 50px ;
}

/* banner section styles starts here*/
.banner-container{
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    border-radius: 16px;
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(7, 2, 17, 0.5);
    background-blend-mode: overlay;
    margin-bottom: 120px;

}   
.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    
}

.banner-content>p{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.banner-content>h1{
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: 900;
    text-align: center;
} /* banner section styles ends here */

   
/* offer section starts here */

.offer-section-container{
     width: 802.9px;
     height: 806px;
     margin: 0 auto;
     
     margin-top: 90px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


.offer-section-head h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 45px;
     
}
.offer-section-head p{
    color: rgb(255, 0, 0);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.offer-section-head h3{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.offer-section-image img{
    width: 800px;
    height: 500px;
    margin-bottom: 120px;
}
}
/* offer section ends here */


/*party section styles starts here*/

.party-section{
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    border-radius: 16px;
    background-color: rgba(7, 2, 17, 0.5);
    background-blend-mode: overlay;
    background-image: url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 85px;
}

.party-contents{
    width: 650px;
    margin-top: 125px;
    margin-left: 125px;
}

.party-contents>h1{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
}

.party-contents>p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.party-contents>h6{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    margin-left: 40px;
}

.party-image>img{
    width: 320px;
    height: 465px;
    margin-top: 70px;
}
/*party section styles ends here*/

/*place, date, time styles starts here*/

/*invitation-section-styles*/

.invitation-section{
    width: 1320px;
    height: 480px;
    margin: 120px auto;
    border-radius: 16px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;   
}

.invitation-section>p{
    color: rgb(7, 2, 17);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.invitation-section>p>span{
    color: rgb(255, 0, 0);
}

.invitation-section>button{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
}


/*place, date, time styles ends here*/


